* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  border-bottom: 1px rgb(54, 54, 54) solid;
}
.cards-containers {
  display: flex;
}
.card-container {
  border-radius: 10px;
  border: 1px rgb(54, 54, 54) solid;
  margin: 10px;
  padding: 10px;
}
